<!-- eslint-disable vue/multi-word-component-names -->
<script>
    import { Registration } from '@/service/http';

    export default {
        data() {
        return {
            error: [],
            loading: false,
            email: "",
            username: "",
            password1: "",
            password2: "", 
        }
    },
    methods: {
        FormCheck() {
        if ( this.email && this.username && this.password1 && this.password2) {
          this.error = [];
          return this.Register();
        }
        this.error = [];

        if (!this.email) {
          this.error.push('Email required.');
        }
        if (!this.username) {
          this.error.push('Username required.');
        }
        if (!this.password1) {
          this.error.push('Password 1 required.');
        }
        if (!this.password2) {
          this.error.push('Password 2 required.');
        }
      },
        Register: async function () {
            this.loading = true;
            const payload = {
                'email' : this.email,
                'username' : this.username,
                'password' : this.password1,
                'password2' : this.password2

            }
            const res = await Registration(payload)
            if (res.status) {
                window.location.href = '/login'
            }
            if (res.response.status != 201 ) {
                this.error.push(res.response.data.detail)
            }
            this.loading = false
        }
    }
    }
</script>

<template>
  <div class="container mt-5">
      <div class="card">
            <div class="card-header">
                <h5>Sign Up Page</h5>
            </div>
            <div class="card-body">
                <div class="alert alert-danger"
                    v-if="error.length"
                    color="#B71C1C"
                    >
                    <b>Please correct the following error(s):</b>
                    <ul>
                    <li v-for="err in error" :key="err">{{ err }}</li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-12">
                        <form action="" method="post">
                            <div class="form-group">
                                <div class="mt-3">
                                    <label for="">Email</label>
                                    <div class="mt-3">
                                        <input v-model="email" type="email" required class="form-control">
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <label for="">Username</label>
                                    <div class="mt-3">
                                        <input v-model="username" type="text" required class="form-control">
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <label for="">Password 1st</label>
                                    <div class="mt-3">
                                        <input v-model="password1" type="password" required class="form-control">
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <label for="">Password 2nd</label>
                                    <div class="mt-3">
                                        <input v-model="password2" type="password" required class="form-control">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="mt-3">
                            <div v-if="loading">
                                <button disabled="true" type="button" @click="Register" class="btn btn-primary">Register</button>
                            </div>
                            <div v-else>
                                <button type="button" @click="FormCheck" class="btn btn-primary">Register</button>
                            </div>
                            <small>Sudah Punya Akun? <a href="/login">Login</a></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
